* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #1d1d1d;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 196px;
  background-color: #000000;
  padding: 24px;
}

.sidebar .logo img {
  width: 130px;
  margin-top: 0px;
}

.sidebar .navigation ul {
  margin-top: 20px;
}

.sidebar .navigation ul li {
  padding: 10px 0px;
}

.sidebar .navigation ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
}

.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active {
  color: #fff;
}

.sidebar .policies {
  position: absolute;
  bottom: 40px;
}

.sidebar .policies ul {
  list-style: none;
  font-size: 10px;
  color: #b3b3b3;
  text-decoration: none;
}

.icon {
  font-size: 20px;
  margin-right: 20px;
}

.sidebar .navigation .playlist ul {
  margin-top: 30px;
}

.main-container {
  margin-left: 245px;
  margin-bottom: 100px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  background-color: #101010;
  padding: 8px 30px;
}

.topbar .prev-button button {
  color: #7a7a7a;
  cursor: non-allowed;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  font-size: 18px;
  border: 0px;
  background-color: #090909;
  margin-right: 10px;
}

.topbar .navbar {
  display: flex;
  align-items: center;
}

.topbar .navbar ul {
  list-style: none;
}

.topbar .navbar ul a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-right: 30px;
}

.topbar .navbar ul a:hover,
.topbar .navbar ul a:active,
.topbar .navbar ul a:focus {
  color: white;
  font-size: 15px;
}

button {
  border-radius: 45px;
  font-size: 15px;
  font-weight: bold;
  padding: 16px 33px;
  border: none;
  cursor: pointer;
}

button:hover,
button:active,
button:focus {
  background-color: #e8e8e8;
  font-size: 16px;
}

.preview {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: linear-gradient(to right, #ae2896, #509bf5);
  padding: 9px 15px;
  display: flex;
  justify-content: space-between;
}

.preview h6 {
  color: white;
  text-transform: uppercase;
  font-size: 11.5px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 2px;
  margin-top: 4px;
}

.preview p {
  color: white;
  font-size: 14.5px;
  padding-top: 6px;
  margin-bottom: 3px;
}

.coding-mode {
  color: white;
}
